body {
    background-color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding: 10px;

}
.box {
    display: flex;
    width: calc(33.333333% - 20px);
    height: 200px;
    margin: 10px;
    justify-content: center;
    align-items: center;

}
#bigbox {
    width: calc(66.666666% - 20px);
}