body {
    background-color: black;
}
.Name {
    text-align: center;
    color: white;
    margin: 50px;
}
img {
    text-align: center;
    border-radius: 50px;
    size: 100px;
    width: 100px;
    height: 200px;
}
p {
    color: white;
    margin: 30px;
}
.box {
    background-color: white;
    width: 500px;
    height: 150px;
    padding: 10px;
    margin: 5px;
}
.checkbox {
    color: white;
    margin: 10px;
}
.radiobox {
    color: white;
    margin: 10px;   
}
.textfield {
    color: white;
    margin: 10px;   
}